
@{
    ViewBag.Title = "DDEdu - My Courses";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<br />
<br />
<section class="section-padding">
    <div class="container">

        <div class="col-lg-8 col-12">
            <h3 class="mb-4">List of registered courses</h3>
        </div>
        <hr>
        <div class="row">
            @Html.Action("getCoursesByUser", "MyCourses", new { id = ViewBag.idUser })
        </div>


    </div>

</section>
