
@{
    ViewBag.Title = "DDEdu - Home";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="col-lg-12 col-12 mx-auto">
    @{Html.RenderAction("getSlide", "Default"); }
</div>

<section class="hero-section d-flex justify-content-center align-items-center">
    @{Html.RenderAction("getLogo_Welcome", "Layout"); }
</section>
<section class="section-padding">
    <div class="container">
        @{Html.RenderAction("getTop6News", "News"); }
    </div>

</section>

<section class="section-padding">

    <div class="container">
        @{Html.RenderAction("getCategoryDF", "Default");}
    </div>

</section>



