USE [master]
GO
/****** Object:  Database [DDEdu]    Script Date: 10/08/2024 10:18:57 AM ******/
CREATE DATABASE [DDEdu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DDEdu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TANDAT\MSSQL\DATA\DDEdu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DDEdu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TANDAT\MSSQL\DATA\DDEdu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DDEdu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DDEdu]
GO
/****** Object:  Table [dbo].[category]    Script Date: 10/08/2024 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[link] [varchar](255) NULL,
	[meta] [varchar](255) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[idMenu] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 10/08/2024 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[desc] [nvarchar](255) NULL,
	[detail] [nvarchar](255) NULL,
	[startOn] [date] NULL,
	[endDate] [date] NULL,
	[maxStudent] [int] NULL,
	[currrStudent] [int] NULL,
	[tuition] [int] NULL,
	[idCategory] [int] NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[image] [nvarchar](255) NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logo]    Script Date: 10/08/2024 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logo](
	[id] [int] NOT NULL,
	[logoImage] [nvarchar](255) NULL,
	[logoName] [nvarchar](255) NULL,
	[meta] [nvarchar](255) NULL,
	[link] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[text] [nvarchar](255) NULL,
	[desc] [nvarchar](255) NULL,
	[hotline] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 10/08/2024 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[link] [nvarchar](max) NULL,
	[meta] [nvarchar](max) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [smalldatetime] NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menuRight]    Script Date: 10/08/2024 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuRight](
	[id] [int] NOT NULL,
	[name] [varchar](255) NULL,
	[link] [varchar](255) NULL,
	[meta] [varchar](255) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newPost]    Script Date: 10/08/2024 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newPost](
	[id] [int] NOT NULL,
	[title] [nvarchar](255) NULL,
	[desc] [nvarchar](255) NULL,
	[detail] [nvarchar](255) NULL,
	[image] [nvarchar](255) NULL,
	[postDate] [date] NULL,
	[hide] [bit] NULL,
	[meta] [nvarchar](50) NULL,
 CONSTRAINT [PK_newPost] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slide]    Script Date: 10/08/2024 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slide](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[hide] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
