USE [DDEdu]
GO
/****** Object:  Table [dbo].[aboutus]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aboutus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[desc] [nvarchar](255) NULL,
	[icon] [nvarchar](255) NULL,
	[isquestion] [bit] NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [date] NULL,
 CONSTRAINT [PK_aboutus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[link] [nvarchar](255) NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[idMenu] [int] NULL,
	[datebegin] [date] NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] NOT NULL,
	[email] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[addressGPS] [nvarchar](max) NULL,
	[hotline] [nvarchar](255) NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[name] [nvarchar](255) NULL,
	[datebegin] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[desc] [nvarchar](max) NULL,
	[detail] [nvarchar](max) NULL,
	[startOn] [date] NULL,
	[endDate] [date] NULL,
	[maxStudent] [int] NULL,
	[currStudent] [int] NULL,
	[tuition] [int] NULL,
	[idCategory] [int] NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[image] [nvarchar](255) NULL,
	[datebegin] [date] NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imageaboutus]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imageaboutus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NULL,
	[role] [nvarchar](255) NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[datebegin] [date] NULL,
 CONSTRAINT [PK_imageaboutus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logo]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logo](
	[id] [int] NOT NULL,
	[logoImage] [nvarchar](255) NULL,
	[logoName] [nvarchar](255) NULL,
	[meta] [nvarchar](255) NULL,
	[link] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[text] [nvarchar](255) NULL,
	[desc] [nvarchar](255) NULL,
	[datebegin] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[link] [nvarchar](255) NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [date] NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[newPost]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newPost](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[desc] [nvarchar](max) NULL,
	[detail] [nvarchar](max) NULL,
	[image] [nvarchar](255) NULL,
	[postDate] [date] NULL,
	[hide] [bit] NULL,
	[meta] [nvarchar](255) NULL,
	[author] [nvarchar](255) NULL,
	[type] [int] NULL,
	[datebegin] [date] NULL,
 CONSTRAINT [PK_newPost] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slide]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [date] NULL,
	[nameI] [nvarchar](255) NULL,
 CONSTRAINT [PK_slide] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[typePost]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[typePost](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameType] [nvarchar](255) NULL,
	[link] [nvarchar](255) NULL,
	[meta] [nvarchar](255) NULL,
	[hide] [bit] NULL,
	[order] [int] NULL,
	[datebegin] [date] NULL,
 CONSTRAINT [PK_typePost] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[fullname] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[birth] [date] NULL,
	[meta] [nvarchar](255) NULL,
	[isAdmin] [bit] NULL,
	[dateBegin] [date] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usercourse]    Script Date: 11/17/2024 8:20:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usercourse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NULL,
	[idCourse] [int] NULL,
	[dateBegin] [date] NULL,
	[meta] [nvarchar](50) NULL,
	[ispaid] [bit] NULL,
	[dateedit] [date] NULL,
 CONSTRAINT [PK_usercourse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[aboutus] ON 

INSERT [dbo].[aboutus] ([id], [title], [desc], [icon], [isquestion], [meta], [hide], [order], [datebegin]) VALUES (1, N'Diverse types of international certificates', N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cumque magnam? Sequi, cupiditate quibusdam alias illum sed esse ad dignissimos libero sunt, quisquam numquam aliquam? Voluptas, accusamus omnis?', N'bi-bookmark', 0, N'about', 1, 1, NULL)
INSERT [dbo].[aboutus] ([id], [title], [desc], [icon], [isquestion], [meta], [hide], [order], [datebegin]) VALUES (2, N'Search your courses', N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cumque magnam? Sequi, cupiditate quibusdam alias illum sed esse ad dignissimos libero sunt, quisquam numquam aliquam? Voluptas, accusamus omnis?', N'bi-search', 0, N'about', 1, 2, NULL)
INSERT [dbo].[aboutus] ([id], [title], [desc], [icon], [isquestion], [meta], [hide], [order], [datebegin]) VALUES (3, N'We have professional teachers', N'Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, cumque magnam? Sequi, cupiditate quibusdam alias illum sed esse ad dignissimos libero sunt, quisquam numquam aliquam? Voluptas, accusamus omnis?', N'bi-book', 0, N'about', 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[aboutus] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name], [link], [meta], [hide], [order], [idMenu], [datebegin]) VALUES (1, N'IELTS', N'#', N'ielts', 1, 1, 2, CAST(N'2024-10-28' AS Date))
INSERT [dbo].[category] ([id], [name], [link], [meta], [hide], [order], [idMenu], [datebegin]) VALUES (2, N'TOEIC', N'#', N'toeic', 1, 2, 2, CAST(N'2024-10-29' AS Date))
INSERT [dbo].[category] ([id], [name], [link], [meta], [hide], [order], [idMenu], [datebegin]) VALUES (3, N'PET', N'#', N'pet', 1, 3, 2, CAST(N'2024-10-28' AS Date))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[course] ON 

SET IDENTITY_INSERT [dbo].[course] OFF
GO
SET IDENTITY_INSERT [dbo].[imageaboutus] ON 

INSERT [dbo].[imageaboutus] ([id], [image], [role], [meta], [hide], [datebegin]) VALUES (1, N'colleagues-working-cozy-office-medium-shot.jpg', N'background', N'aboutus', 1, NULL)
INSERT [dbo].[imageaboutus] ([id], [image], [role], [meta], [hide], [datebegin]) VALUES (2, N'faq_graphic.jpg', N'question', N'aboutus', 1, NULL)
SET IDENTITY_INSERT [dbo].[imageaboutus] OFF
GO
INSERT [dbo].[logo] ([id], [logoImage], [logoName], [meta], [link], [hide], [text], [desc], [datebegin]) VALUES (1, N'logo-icon.png', N'DDEdu', N'default', N'#', 1, N'Welcom to DDEDu Center', N'Discover . Learn . Enjoy', NULL)
GO
SET IDENTITY_INSERT [dbo].[menu] ON 

INSERT [dbo].[menu] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (1, N'HOME', N'#', N'default', 1, 1, CAST(N'2024-11-04' AS Date))
INSERT [dbo].[menu] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (2, N'COURSES', N'#', N'courses', 1, 2, CAST(N'2024-11-04' AS Date))
INSERT [dbo].[menu] ([id], [name], [link], [meta], [hide], [order], [datebegin]) VALUES (3, N'NEWS', N'#', N'news', 1, 3, CAST(N'2024-10-29' AS Date))
SET IDENTITY_INSERT [dbo].[menu] OFF
GO
SET IDENTITY_INSERT [dbo].[newPost] ON 

SET IDENTITY_INSERT [dbo].[newPost] OFF
GO
SET IDENTITY_INSERT [dbo].[slide] ON 

INSERT [dbo].[slide] ([id], [name], [hide], [order], [datebegin], [nameI]) VALUES (1, N'img-screen.jpg', 1, 1, NULL, N'slide1')
INSERT [dbo].[slide] ([id], [name], [hide], [order], [datebegin], [nameI]) VALUES (2, N'businesswoman-using-tablet-analysis.jpg', 1, 2, NULL, N'slide2')
INSERT [dbo].[slide] ([id], [name], [hide], [order], [datebegin], [nameI]) VALUES (3, N'colleagues-working-cozy-office-medium-shot.jpg', 1, 3, NULL, N'slide3')
SET IDENTITY_INSERT [dbo].[slide] OFF
GO
SET IDENTITY_INSERT [dbo].[typePost] ON 

INSERT [dbo].[typePost] ([id], [nameType], [link], [meta], [hide], [order], [datebegin]) VALUES (1, N'EVENT', NULL, N'event', 1, 1, NULL)
INSERT [dbo].[typePost] ([id], [nameType], [link], [meta], [hide], [order], [datebegin]) VALUES (2, N'SCHEDULE', NULL, N'system', 1, 2, NULL)
INSERT [dbo].[typePost] ([id], [nameType], [link], [meta], [hide], [order], [datebegin]) VALUES (3, N'BENEFIT', NULL, N'benefit', 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[typePost] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [username], [password], [fullname], [email], [birth], [meta], [isAdmin], [dateBegin]) VALUES (17, N'tester', N'8D70D8AB2768F232EBE874175065EAD3', N'Bui Dong Tan Dat', N'bdtd1ad@gmail.com', CAST(N'2001-11-14' AS Date), N'user', 0, CAST(N'2024-10-16' AS Date))
INSERT [dbo].[user] ([id], [username], [password], [fullname], [email], [birth], [meta], [isAdmin], [dateBegin]) VALUES (21, N'haha', N'1FACDE8F04B65359EF0ECECEE7E4A5BA', N'Bui Dong Tan AAAA', N'buidongtandat@gmail.com', CAST(N'2024-10-02' AS Date), N'user', 0, CAST(N'2024-10-20' AS Date))
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[usercourse] ON 

INSERT [dbo].[usercourse] ([id], [idUser], [idCourse], [dateBegin], [meta], [ispaid], [dateedit]) VALUES (16, 21, 3, CAST(N'2024-10-20' AS Date), N'my-course', 0, NULL)
INSERT [dbo].[usercourse] ([id], [idUser], [idCourse], [dateBegin], [meta], [ispaid], [dateedit]) VALUES (1011, 17, 10, CAST(N'2024-11-17' AS Date), N'my-course', 0, NULL)
INSERT [dbo].[usercourse] ([id], [idUser], [idCourse], [dateBegin], [meta], [ispaid], [dateedit]) VALUES (1012, 17, 2, CAST(N'2024-11-17' AS Date), N'my-course', 0, NULL)
SET IDENTITY_INSERT [dbo].[usercourse] OFF
GO
