@model DDEdu.Models.logo

<div class="container">
    <div class="row">

        <div class="col-lg-8 col-12 mx-auto">
            <h4 class="text-white text-center">@Model.text</h4>

            <h6 class="text-center">@Model.desc</h6>
        </div>
    </div>
</div>
