@model List<DDEdu.Models.menu>

    @{
        // Lấy đường dẫn hiện tại của trang
        var currentUrl = Request.Url.AbsolutePath.ToLower();
    }

<ul class="navbar-nav ms-lg-5 me-lg-auto">
    @foreach (var menu in Model)
    {
        var categoryHtml = Html.Action("getCategory", "Layout", new { idForMenu = menu.id , metatitle = menu.meta});

        // Kiểm tra xem có subcategory không
        bool hasSubCategory = !String.IsNullOrEmpty(categoryHtml?.ToString());

        // Kiểm tra xem mục này có trùng với URL hiện tại không
        bool isActive = currentUrl.Equals("/" + menu.meta.ToLower());


        <li class="nav-item @(hasSubCategory ? "dropdown" : "") ">
            <a class="nav-link @(hasSubCategory ? "dropdown-toggle" : "") @(isActive ? "active" : "")"
               href="/@menu.meta">
                @menu.name
            </a>

            @if (hasSubCategory)
            {
                //Nếu menu cha có menu con thì thêm menu con vào
                @: @categoryHtml
            }
        </li>
    }
</ul>






