@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@model DDEdu.Models.user

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <section class="section-padding section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <br />
                    <br />
                    <br />
                    <div class="custom-form contact-form shadow-lg" role="form">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <h4 class="mb-12 title-form">RESET PASSWORD</h4>
                            </div>
                            <div class="col-lg-12 col-12 text-white notice">
                                * Enter your account's email to reset your password
                            </div>
                            
                            <div class="col-lg-12 col-12">
                                <div class="form-floating">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Email" required="">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-6">
                                <a href="/user/login" class="forgot">Back to Login page</a>
                            </div>
                            <div class="col-lg-6 col-6 ms-auto">
                                <button type="submit" class="form-control">SEND</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@*Hiển thị hộp thoại khi reset mật khẩu thành công*@
@if (TempData["Success"] != null)
{
    Html.RenderAction("getModel", "Layout", new { content = TempData["Success"].ToString() });
}