
@{
    ViewBag.Title = "DDEdu - Course";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<section class="section-padding">
    <div class="container">
        <br />
        <br />
        @{Html.RenderAction("getCategoryDF", "Default"); }
    </div>

</section>
