<!doctype html>
<html lang="en">

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>DDEdu</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
          rel="stylesheet">

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">

    <link href="~/Content/css/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">

    <link href="~/Content/css/templatemo-topic-listing.css" rel="stylesheet" asp-append-version="true">

</head>

<body id="top">
    <main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo và tên thương hiệu -->
            @{Html.RenderAction("getLogo", "Layout"); }

            <!-- Nút toggle cho mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Phần menu chính -->
            <div class="collapse navbar-collapse" id="navbarNav">

                @{Html.RenderAction("getMenu", "Layout"); }

                @{Html.RenderAction("getMenuRight", "Layout"); }
            </div>
    </nav>



    @RenderBody();

    </main>

    <footer class="site-footer">
        @{Html.RenderAction("getFooter", "Layout"); }
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/jquery.sticky.js"></script>
    <script src="~/Scripts/js/click-scroll.js"></script>
    <script src="~/Scripts/js/custom.js"></script>

</body>

</html>