@model IEnumerable<DDEdu.Models.user>
@using DDEdu.Helper
@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Areas/admin/Views/Shared/_MyLayout.cshtml";
}

<style>
    th, td {
        text-align: center;
    }

        td p {
            height: 50px;
            overflow-y: hidden;
            text-overflow: ellipsis;
        }

    .big-checkbox {
        width: 30px;
        height: 30px;
    }


    .form-control[readonly] {
        background-color: white !important;
    }

    .form-horizontal {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    td {
        text-align: center;
        justify-content: center;
        align-content: center;
    }
</style>

@section _Header
{
    <!-- DataTables CSS -->
    <link href="/Areas/admin/Content/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/Areas/admin/Content/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                Manage Users
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <p style="text-align:right">
                    <div style="display: flex; align-items: center; justify-content: flex-end;">
                        <select class="form-control" id="id" name="id" required style="width: 250px; margin-right: 10px;">
                            <option value="">All account</option>
                                <option value="1">Student Accounts</option>
                                <option value="2">Admin Accounts</option>
                        </select>

                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span> Add new user", "Create", "Create", "users", routeValues: new { }, htmlAttributes: new { data_modal = "", @class = "btn btn-primary" })
                    </div>
                </p>
                <div id="getUser"></div>
                
            </div>
        </div>
    </div>
</div>






@section _Footer
{

    <!-- DataTables JavaScript -->
    <script src="/Areas/admin/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Areas/admin/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Areas/admin/Content/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function () {
        // Initialize DataTable
        $('#dataTables-example').DataTable({
            responsive: true,
            order: [],
            columnDefs: [
                { orderable: false, targets: '_all' } // Disable sorting on all columns
            ]
        });

        // Hàm lấy danh sách bài viết theo loại
        function getUserByType() {
            var selectedId = $("#id").val(); // Lấy giá trị loại bài viết đã chọn

            $.ajax({
                url: "@Url.Action("getUserByType", "users")", 
                type: "GET",
                data: { id: selectedId },
                success: function (data) {
                    $("#getUser").html(data);
                },
                error: function () {
                    alert("Something went wrong while fetching posts.");
                }
            });
        }

        // Khi thay đổi giá trị trong dropdown, gọi lại hàm
        $("#id").change(function () {
            getUserByType();
        });

        // Gọi hàm khi trang được tải lần đầu
        getUserByType();
    });
</script>


}
